*.class
*.log
hs_err_pid*
it.polito.security.esp/bin
it.polito.security.esp.kb/bin
it.polito.security.esp.rules/bin
it.polito.security.esp.rules.ide/bin
it.polito.security.esp.rules.ui/bin
it.polito.security.esp.ui/bin
it.polito.security.esp.util/bin
